@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr; /* Header height is auto, main takes up remaining space */
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  padding: 0.875rem;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body header {
  box-shadow: 0px 2px 4px 0px #2d3b430d;
  border: 2px solid #ffffff;
  padding: 0 1.625rem;
}

body main {
  flex-grow: 1;
  padding: 3.875rem 0rem;
  width: 100%;
  max-width: 72.4375rem;
  margin: auto;
}

body > section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.modal {
  animation: showModal 0.4s forwards;
}
@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
